<%- include("header") -%>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, totam at harum maiores impedit fuga hic corrupti culpa corporis ea consectetur sapiente dolores dolorem perferendis in error quaerat fugit porro reprehenderit. Provident dicta libero totam tenetur deleniti ea ex nobis doloribus. Aut consequuntur deleniti, quidem aperiam magni at exercitationem quos!</p>

<%- include("footer") -%>