<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <% if (dayType === "weekend") { %>
        <h1 style="background-color: aquamarine;">Its a <%=dayType%>!  and today is  <%=dayToday%> </h1>
    <% }else{%>
        <h1 style="background-color: brown;">Its a <%=dayType%>!  and today is  <%=dayToday%> </h1>
    <%} %>
    
</body>
</html>